@mixin borderRadius{
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    width: 60%;
    font-size: 20px;
    display: block;
}

.Contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    input{
        @include borderRadius;
        margin-bottom: 10px;
        @media (max-width: 550px) {
            height: 40px;
            font-size: 10px;
            width: 80%;
        }
        @media (max-width: 350px) {
            height: 40px;
            font-size: 10px;
            width: 100%;
        }
    }
    .textInput{
        @include borderRadius;
        @media (max-width: 550px) {
            height: 30px;
            font-size: 10px;
            width: 80%;
        }
        @media (max-width: 350px) {
            height: 60px;
            font-size: 10px;
            width: 100%;
        }
    }
}





