.button {
    border: none;
    border-radius: 30px;
    display: block;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 18px 45px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        box-shadow: black 1px 1px 5px;
        background: white !important;
        color: black !important;
    }
    .dark {
        background: black;
        color: white
    }
    @media (max-width: 760px) {
        padding: 10px 30px;
    }
}


//.buttonIcon {
//    display: inline-block;
//    margin: 0;
//    position: relative;
//    top: 3px;
//    font-size: 20px;
//}


